In [2]:
import pandas as pd

# 读数据

In [4]:
df=pd.read_excel("./temporary/dataset.xlsx")

In [5]:
df.head(10)

        \nrp.7eleven_bottle_coffee_1.png  0.87  1.175  1.3
0       \nrp.7eleven_bottle_coffee_2.png  0.87  1.375  1.3
1       \nrp.7eleven_bottle_coffee_3.png  0.87  1.575  1.3
2       \nrp.7eleven_bottle_coffee_4.png  0.87  1.775  1.3
3       \nrp.7eleven_bottle_coffee_5.png  0.72  1.175  1.3
4       \nrp.7eleven_bottle_coffee_6.png  0.72  1.375  1.3
5       \nrp.7eleven_bottle_coffee_7.png  0.72  1.575  1.3
6       \nrp.7eleven_bottle_coffee_8.png  0.72  1.775  1.3
7  \nrp.7eleven_bottle_juice_grape_1.png  0.87  1.175  1.1
8  \nrp.7eleven_bottle_juice_grape_2.png  0.87  1.375  1.1
9  \nrp.7eleven_bottle_juice_grape_3.png  0.87  1.575  1.1

# 处理数据
这里路径前面有/n,另外坐标不是一列，没有列名

In [7]:
df.columns=['path','x','y','z'] # 给一个列名
x=df['x'].values
y=df['y'].values
z=df['z'].values

In [8]:
# 合并x,y,z
merge_list=[]
for i in range(len(x)):
    merge_list.append([x[i],y[i],z[i]])

In [9]:
len(merge_list)

119

In [10]:
df['loc']=merge_list

In [11]:
df.head(3)

                               path     x      y    z                 loc
0  \nrp.7eleven_bottle_coffee_2.png  0.87  1.375  1.3  [0.87, 1.375, 1.3]
1  \nrp.7eleven_bottle_coffee_3.png  0.87  1.575  1.3  [0.87, 1.575, 1.3]
2  \nrp.7eleven_bottle_coffee_4.png  0.87  1.775  1.3  [0.87, 1.775, 1.3]

# 生成.npy数据

In [12]:
files=df['path'].values
files = [i[1:] for i in files]

In [13]:
import numpy as np

In [14]:
np.save("train.npy",files)

In [15]:
np.save("label.npy",list(merge_list))